.contactContainer 
{
    display: flex;
    text-align: center;
    justify-content: center;
}

.contactCardText 
{
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    margin: 0;
    color: var(--primary-color);
}

.logoCard 
{
    background-color: #ffff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-color);
    padding: 20px;
    margin: 50px;
}

.logoCard:hover 
{
    box-shadow: 0 3px 10px var(--primary-color);
}

.logo:hover 
{
    width: 280px;
    height: 280px;
    transition: 0.5s;
}

.logo 
{
    width: 180px;
    height: 180px;
}

.titleName 
{
    color: var(--secondary-color);
}

.contactPageText 
{
    font-weight: bold;
    font-size: 20px;
    color: var(--accent-color-3);
    text-align: center;
}

body 
{
    background-color: var(--secondary-color);
}

@media (max-width: 600px) 
{
    .contactContainer 
    {
        flex-direction: column;
    }

    .contactCardText 
    {
        font-size: 35px;
    }

    .contactPageText 
    {
        font-size: 35px;
    }
}